body {
  font-size: 100%;
}
a {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.size {
  background: #fff;
}
.size:hover {
  background: #eeeeee;
}
.footer .font-size-1 {
  font-size: 1rem !important;
}
.footer .font-size-2 {
  font-size: 1.2rem !important;
}
.footer .font-size-3 {
  font-size: 1.4rem !important;
}

.text-size1 li,
.text-size1 a,
.text-size1 p {
  font-size: 100% !important;
}
.text-size2 li,
.text-size2 a,
.text-size2 p{
  font-size: 110% !important;
}
.text-size3 li,
.text-size3 a,
.text-size3 p{
  font-size: 120% !important;
}